<header class="header py-3 bg-white shadow-sm sticky-top">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
  <div class="d-flex align-items-center me-4">
  <a class="brand-logo d-flex align-items-center text-decoration-none" style="font-family: 'Comic Sans MS', cursive, sans-serif;">
    <span style="font-size: 2.5rem; margin-right: 0.5rem;">🎫</span>
    <span class="fs-5 fw-bold text-primary" style="text-shadow: 1px 1px 2px rgba(0,0,0,0.1);">{{'bookify'|translate}}</span>
  </a>
</div>


    <div class="flex-grow-1 mx-3" *ngIf="!hideSearch">
      <form class="position-relative" (ngSubmit)="onSearch(searchInput.value)">
        <input
  #searchInput
  type="text"
  name="search"
  class="form-control search-input ps-5"
  [placeholder]="getSearchPlaceholder()"
  style="height: 48px;"
  autocomplete="off"
/>

        <button type="submit" class="btn position-absolute top-50 start-0 translate-middle-y ps-3 border-0 bg-transparent">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

    <div class="user-dropdown" (click)="toggleDropdown()">
      <div class="dropdown-toggle">
        <div class="user-avatar">
          <i class="fas fa-user"></i>
        </div>
        <div class="user-greeting">
          <span *ngIf="isLoggedIn; else guestTemplate">{{'hello'| translate}}, {{ this.userClaims.name }}</span>
          <ng-template #guestTemplate>
            <span>{{'hello'| translate}}, User</span>
          </ng-template>
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>

      <div class="dropdown-menu" [class.show]="isDropdownOpen">

        
        <a class="dropdown-item" (click)="loadTrending()" *ngIf="!isVerifier()">
          <i class="fas fa-chart-line"></i>
          <span>{{'trending'| translate}}</span>
        </a>
        <a  class="dropdown-item" (click)="goToSettings()">
          <i class="fas fa-cog"></i>
          <span>{{'setting'|translate}}</span>
        </a>
        <div class="dropdown-divider"></div>
        <a  class="dropdown-item" (click)="onSignOut()">
          <i class="fas fa-sign-out-alt"></i>
          <span>{{'logout'|translate}}</span>
        </a>
      </div>
    </div>
  </div>
</header>

