<div class="dashboard-layout">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="admin-dashboard">
      <div class="dashboard-header">
        <div class="header-content">
          <h1> Admin Dashboard</h1>
          <p class="text-muted">Manage events</p>
        </div>
      </div>

      <div class="users-table-section">
        <div class="section-header">
          <h2>Event Management</h2>
        </div>

        <app-events-table ></app-events-table>

    
      </div>
    </div>
  </div>
</div>
