/* You can add global styles to this file, and also import other style files */
/* Default Light Theme */
body {
  background-color: #fff;
  color: #000;
}

.card, .btn {
  background-color: #fff;
  color: #000;
}


body.dark-theme {
  background-color: #121212;
  color: #e0e0e0;
}

.card.dark-theme, .btn.dark-theme {
  background-color: #333;
  color: #fff;
}

.navbar.dark-theme {
  background-color: #333;
  color: #fff;
}
