<div class="sidebar">
  <div class="sidebar-header">
    <h3>{{'Admin Dashboard'|translate}}</h3>
  </div>
  <nav class="sidebar-nav">



    <a (click)="goToEvents()" class="nav-item">
      <i class="fas fa-exchange-alt"></i>
      <span>{{'event'|translate}}</span>
    </a>

   

    <a (click)="goToSeetings()" class="nav-item">
      <i class="fas fa-cog"></i>
      <span>{{'setting'|translate}}</span>
    </a>
  </nav>
  <div class="sidebar-footer">
     <a>
        
    </a>
    <button (click)="logout()" class="nav-item">
      <i class="fas fa-sign-out-alt"></i>
      <span>{{'logout'|translate}}</span>
    </button>
  </div>
</div>